/**
 * General
 */
* {
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	-webkit-user-drag: none;
	cursor: default;
}

header {
	background-color: orange;
	height: 100px;
	width: 100%;
	margin-bottom: 40px;
}

article {
	width: 790px;
	margin: 0 auto;
}

textarea {
	font-family: Gill Sans MT;
	font-size: 21px;
	line-height: 1.5em;
	padding: 24px;
	padding-top: 12px;
	outline: none;	/*for Chrome select highlight*/
	overflow: hidden;
	display: block;
	resize: none;
	border-color: orange;
	border-style: solid;
	box-sizing: border-box; /*dimens accounts for padding/margin*/
	background-color: white;
}

/**
 * Main screen general layout
 */
div.title {
	padding-top: 15px;
	font-size: 50px;
	font-family: Tahoma;
	font-weight: bold;
	height: 1em;
	text-align: center;
}

div.topBar {
	background-color: orange;
	width: 790px;
	height: 90px;
	padding: 5px;
	border-bottom-width: 3px;
	border-bottom-color: Gold;
	border-bottom-style: solid;
	box-sizing: border-box;
}

div.middleBar {
	width: 790px;
	height: 350px;
}

div.bottomBar {
	background-color: orange;
	width: 790px;
	height: 152px;
}

/**
 * Main app
 */
.arrow {
	margin: 0 auto;
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	cursor: pointer;
	cursor: hand;	
}

.downArrow {
	border-top: 12px solid Gold;
	border-bottom: 0px solid transparent;
}

.upArrow {
	border-bottom: 12px solid Gold;
	border-top: 0px solid transparent;
}

.statBlock {
	height: 40px;
	width: 160px;
	background-color: white;
	border-left-width: 50px;
	border-right-width: 50px;
	border-top-width: 15px;
	border-color: orange;
	border-style: solid;
	float: left;
}

.statIcon {
	width: 40px;
	height: 40px;
	float: left;
}

.stat {
	font-family: Gill Sans MT;
	font-size: 21px;
	text-align: center;
	line-height: 40px;
	width: 75%;
	height: 100%;
	float: left;
}

.content {
	border-width: 25px;
	height: 100%;
	width: 100%;	
}

.input {
	border-right-width: 25px;
	border-left-width: 25px;
	width: 100%;
	cursor: auto;
}

.menuIcon {
	margin: 0 auto;
	font-size: 34px;
	color: Gold;
	width: 1em;
	padding-top: 6px;
	cursor: pointer;
	cursor: hand;
}

/**
 * Menu screen
 */
.menu {
	display: none;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;	
	position: absolute;
	background-color: orange;
	width: 790px;
	height: 592px;
	z-index: 10;
}

.welcome {
	font-size: 45px;
	font-family: Goudy Old Stout;
	padding: 40px;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
}

.choices {
	padding-top: 100px;
	height: 120px;
	width: 300px;
	margin: 0 auto;
}

.choiceBlock {
	float: left;
	cursor: pointer;
	cursor: hand;
}

.choiceIcon {
	width: 100px;
	height: 100px;
	cursor: pointer;
	cursor: hand;
}

.choice {
	margin: 0 auto;
	font-size: 20px;
	font-family: Tahoma;
	text-align: center;
	cursor: pointer;
	cursor: hand;
}

/**
 * Categories screen
 */
.categories {
	display: none;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;	
	position: absolute;
	background-color: orange;
	width: 790px;
	height: 592px;
	z-index: 11;
}