div.topBar {
	background-color: orange;
	width: 790px;
	height: 90px;
	padding: 5px;
	border-bottom-width: 3px;
	border-bottom-color: yellow;
	border-bottom-style: solid;
	box-sizing: border-box;
}

div.middleBar {
	width: 790px;
	height: 350px;
}

div.bottomBar {
	background-color: orange;
	width: 790px;
	height: 152px;
}

.arrow {
	margin: 0 auto;
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 12px solid yellow;
}

.statBlock {
	height: 40px;
	width: 160px;
	background-color: white;
	border-left-width: 50px;
	border-right-width: 50px;
	border-top-width: 15px;
	border-color: orange;
	border-style: solid;
	float: left;
}

.icon {
	width: 40px;
	height: 40px;
	float: left;
}

.stat {
	font-family: Gill Sans MT;
	font-size: 21px;
	text-align: center;
	line-height: 40px;
	width: 75%;
	height: 100%;
	float: left;
}

.content {
	border-width: 25px;
	height: 100%;
	width: 100%;	
}

.input {
	border-right-width: 25px;
	border-left-width: 25px;
	width: 100%;
}

*[readonly="readonly"] {
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}

textarea {
	font-family: Gill Sans MT;
	font-size: 21px;
	line-height: 1.5em;
	padding: 24px;
	padding-top: 12px;
	outline: none;	/*for Chrome select highlight*/
	overflow: hidden;
	display: block;
	resize: none;
	border-color: orange;
	border-style: solid;
	box-sizing: border-box; /*dimens accounts for padding/margin*/
	background-color: white;
}

.menu {
	font-size: 34px;
	color: yellow;
	text-align: center;
	padding-top: 6px;
}